<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    
    <div class="c">
        <td class="aaa">| Summer</td> 
        <img style="width: 50px;border-radius: 50%;margin-bottom: -20px;" src="/p/cat.jpg" /> 
              
        <a style="color:#585252;" href="{% url 'ind' 1 %}">浏览视频列表 |</a>
        <a style="color:#585252;" href="{% url 'upinfo' 1 %}">浏览Up主列表 |</a>
        <a style="color:#585252;" href="{% url 'find'%}">进入搜索界面</a>
    </div>

    <center>
    <div class="a">
        <h1>搜索</h1>
        <!-- <a href=""></a> -->
        
        <form action="{% url 'local' %}" method ="post">
            {% csrf_token %}
            <input type="hidden" name="id"/>
            <table width = "280" border="0">
                <tr>
                    <td>搜索：</td>
                    <td><input type="text" name="title" /></td>
                </tr>
                <tr>
                    <td colspan="1" align="center" style="position: 300px 300px;">
                        <input type="submit" value="serch"/>
                    </td>
                </tr>
            </table>

            <p>视频：<input type="radio" name="gender" value="1"></p>
            <p>UP：<input type="radio" name="gender"  value="0"></p>
        </form>
    </div>
    </center>
    
</body>
</html>
