<!DOCTYPE html>
<html lang="en">
<head>
   

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="c">
        <td class="aaa"> Summer</td> 
        <img style="width: 50px;border-radius: 50%;margin-bottom: -20px;" src="/p/cat.jpg" />               
        <a style="color:white;" href="{% url 'ind' 1 %}">浏览视频列表 |</a>
        <a style="color:white;" href="{% url 'upinfo' 1 %}">浏览Up主列表 |</a>
        <a style="color:white;" href="{% url 'find'%}">进入搜索界面</a>
        搜索时间:{{time}}搜索结果:{{length}}

    </div>

    

    <center>
    <div class="a">
        

        <table width="1000" >

            {%for user in userlist%}
                <tr>
                    
                    <td>
                        <asas style="margin-bottom: 100px;font-size: 60px;font-weight: bolder;color: darkgray;">{{user.id}}</asas>
                        <td><img src={{user.封面照片}} width=170 style="margin-left: 20px;border-radius: 5px;" /></td>
                         
                    </td>
                    <td>
                            
                            <p><a style="color: black;" href="{% url 'vediodetails' user.视频名称 %}">{{user.视频名称}}</a></p>
                            <ppp style="font-size: 8px;">
                                
                                播放量"{{user.播放量}}
                                弹幕数:{{user.弹幕数}}
                                评论数:{{user.评论数}}
                                上传日期:{{user.上传日期}}
                                点赞数:{{user.点赞数}}
                                收藏数:{{user.收藏数}}
                                香蕉数:{{user.香蕉数}}
                                UP主名称:{{user.UP主名称}}
                            </ppp>
                            <hr/>
                            <br>
                            <!-- <br> -->
                    </td>   
                     
                </tr>
                  
            {%endfor%}
        </table>
        <form action="{% url 'vediofind'%}" method ="get">
        {% csrf_token %}
                    <input type="submit" value=上一页/>
                    <input type="hidden" name="kind" value={{calll}}/>
                    <input type="hidden" name="page" value={{up}}/>
                </form>
                <br>

        <form action="{% url 'vediofind'%}" method ="get">
            {% csrf_token %}
                <input type="hidden" name="id"/>
                <input type="hidden" name="kind" value={{calll}}/>
                <!-- <form action="{% url 'upfind'%}" method ="post"> -->
                

                <input type="submit" name="page" value="1"/>
                <!-- </form> -->
                <span class="pager_ellipsis">···</span>
                <!-- <form action="{% url 'upfind'%}" method ="post"> -->
                <!-- {% csrf_token %} -->
                {%for cnmm in cnm%}
                <tr>
                    <input type="submit" name="page" value={{cnmm}}>
                </tr>
                {%endfor%}
                <!-- </form> -->
    
                <span class="pager_ellipsis">···</span>

                {%for uiuiui in lennn%}
                    <input type="submit" name="page" value={{uiuiui}}/>
                {%endfor%}


                
            </form>             

            <form action="{% url 'vediofind'%}" method ="get">
                {% csrf_token %}
                跳转至
                    <input type="hidden" name="kind" value={{calll}}/>
                    <input type="number" name="page" style="width:30px"/>
                页
            </form>
            <form action="{% url 'vediofind'%}" method ="get">
                {% csrf_token %}
                                <input type="submit" value=下一页/>
                                <input type="hidden" name="kind" value={{calll}}/>
                                <input type="hidden" name="page" value={{down}}/>
                            </form>
                            <br>
    </div>

    

    </center>
    
</body>
</html>
