<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="c">
        <td class="aaa"> Summer</td> 
        <img style="width: 50px;border-radius: 50%;margin-bottom: -20px;" src="/p/cat.jpg" />               
        <a style="color:white;" href="{% url 'ind' 1 %}">浏览视频列表 |</a>
        <a style="color:white;" href="{% url 'upinfo' 1 %}">浏览Up主列表 |</a>
        <a style="color:white;" href="{% url 'find'%}">进入搜索界面</a>
        <br>
        <br>
        <br>
    </div>


    <div class="a">
        <table width="1000">
            <tr>
    
                    <td>
                        <!-- <td><img src={{user.UP主头像}} width=170 style="margin-left: 20px;border-radius: 50%;" /></td> -->
                        <!-- <td><img src={{user.封面照片}} width=170 style="margin-left: 20px;border-radius: 50%;" /></td> -->
                    </td>
                    <td>
                            <p><a style="font-size:30px;color:steelblue;font-weight:800;" href={{user.视频链接}}>{{user.视频名称}}</a></p>
    
                            <ppp style="font-size: 8px;">
                                
                                简介:{{user.简介}}
                                收藏数:{{user.收藏数}}
                                播放量:{{user.播放量}}
                            </ppp>
                            <hr/>
                            <br>
                            <!-- <br> -->
                    </td>   
                    
    
            </tr>
        </table>
            
        <td><a href={{user.视频链接}}><img style="margin-left: 0%;" src={{user.封面照片}} width=700 style="margin-left: 0%;" /><a style="font-size:30px;color:steelblue;font-weight:800;" href={{user.视频链接}}></a></td>

        <table width="600" style="margin-left: 0%;">

            <tr style="font-size: 10px;">
                    <td>弹幕数:{{user.弹幕数}}</td>
                    <td>评论数:{{user.评论数}}</td>
                    <td>上传日期:{{user.上传日期}}</td>
                    <td>点赞数:{{user.点赞数}}</td>
                    <td>收藏数:{{user.收藏数}}</td>
                    <td>香蕉数:{{user.香蕉数}}</td>
                   
                
            </tr>
        </table>
        <p><a href="{% url 'updetails' user.UP主名称 %}"><img src={{user.UP主头像}} width=90 style="margin-left: 0%;border-radius: 50%;" /></a>{{user.UP主名称}}</a></p>
  
        
    </div>
    
    <div class="d" style="width: 911px;">
                <p class="aaaa">评论1:{{user.评论1}}</p><hr/>
                <br>
                <p>评论2:{{user.评论2}}</p><hr/>
                <br>
                <p>评论3:{{user.评论3}}</p><hr/>
                <br>
                <p>评论4:{{user.评论4}}</p><hr/>
                <br>
                <p>评论5:{{user.评论5}}</p><hr/>
    </div>
</body>
</html>
